<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <util:constant id="in" static-field="java.lang.System.in"/>
    <bean id="reader" class="java.io.InputStreamReader">
        <constructor-arg name="in" ref="in"/>
    </bean>
    <bean id="bufferedReader" class="java.io.BufferedReader">
        <constructor-arg name="in" ref="reader"/>
    </bean>

    <bean id="clientDao" class="com.vasylyev.dao.impl.ClientEMDao"/>
    <bean id="productDao" class="com.vasylyev.dao.impl.ProductEMDao"/>
    <bean id="orderDao" class="com.vasylyev.dao.impl.OrderEMDao"/>
<!--
    <bean id="clientDao" class="com.vasylyev.dao.impl.ClientDBDao"/>
    <bean id="productDao" class="com.vasylyev.dao.impl.ProductDBDao"/>
    <bean id="orderDao" class="com.vasylyev.dao.impl.OrderDBDao"/>
-->
    <bean id="validationService" class="com.vasylyev.validators.impl.ValidationServiceImpl"/>
        <!--
        <bean id="clientService" class="com.vasylyev.services.impl.ClientServiceImpl" autowire="constructor">
            <constructor-arg name="clientDao" ref="clientDao"/>
            <constructor-arg name="validationService" ref="validationService"/>
        </bean>
        -->
    <bean id="clientService" class="com.vasylyev.services.impl.ClientServiceImpl" autowire="constructor"/>
    <bean id="productService" class="com.vasylyev.services.impl.ProductServiceImpl" autowire="constructor"/>
    <bean id="orderService" class="com.vasylyev.services.impl.OrderServiceImpl" autowire="constructor"/>
    <!--
    <bean id="adminMenu" class="com.vasylyev.view.AdminMenu" autowire="constructor">
        <constructor-arg name="clientService" value="clientService"/>
        <constructor-arg name="br" value="bufferedReader"/>
    </bean>
    -->
    <bean id="adminMenu" class="com.vasylyev.view.AdminMenu" autowire="constructor"/>
    <bean id="clientMenu" class="com.vasylyev.view.ClientMenu" autowire="constructor"/>
    <bean id="menu" class="com.vasylyev.view.MainMenu" autowire="constructor"/>
</beans>